$base00: #000000;
$base01: #333333;
$base02: #666666;
$base03: #999999;
$base04: #cccccc;
$base05: #f9f9f9;
$base06: #ffffff;
$base07: #f9f9f9;
$base08: #ff3300;
$base09: #ff6633;
$base0A: #ff9933;
$base0B: #669900;
$base0C: #006666;
$base0D: #0099cc;
$base0E: #663366;
$base0F: #cc6633;
