$base00: #000000;
$base01: #333333;
$base02: #666666;
$base03: #999999;
$base04: #cccccc;
$base05: #f9f9f9;
$base06: #ffffff;
$base07: #f9f9f9;
$base08: #ff3300;
$base09: #ff6633;
$base0A: #ff9933;
$base0B: #669900;
$base0C: #006666;
$base0D: #0099cc;
$base0E: #663366;
$base0F: #cc6633;

$K00: #000000;
$K01: #000000;
$K02: #333333;
$K03: #666666;
$K04: #f9f9f9;
$K05: #f9f9f9;
$K06: #ffffff;
$K07: #cccccc;
$K08: #ccff00;
$K09: #ffcc33;
$K0A: #00cccc;
$K0B: #ffcc33;
$K0C: #ffcc33;
$K0D: #00ccff;
$K0E: #00ccff;
$K0F: #ffffff;

$color-amazon: #febd69;
$color-rakuten: #e61717;
$color-aliexpress: #ff4747;
$color-banggood: #ff6e26;
$color-gearbest: #ffda00;
