@import "normalize";
@import "colors";
@import "chroma";
@import "fonts";

@mixin font-sans {
  font-family: sans-serif;
  font-weight: 300;
  font-feature-settings: "palt";
}

@mixin font-sans-bold {
  font-family: sans-serif;
  font-weight: 900;
  font-feature-settings: "palt";
}

@mixin link-color($from, $to) {
  & {
    transition: color 0.125s;
  }

  &:link,
  &:visited {
    color: $from;
  }

  &:hover,
  &:active {
    color: $to;
  }
}

html,
body {
  background-color: $base06;
  color: $base01;
  @include font-sans();
  min-height: 101%;
}

body {
  font-size: 1.25em;
}

a {
  @include link-color($base00, $base03);
  text-decoration: underline solid;
}

.adsbygoogle {
  height: 140px;
}

#global,
#profile,
#menu,
#copyright,
.entry {
  margin: 0 auto;
  padding: 0 1.5em;
  max-width: 30em;
}

#global {
  p {
    margin: 5em 0;

    a {
      @include link-color($base00, $base03);
    }
  }
}

#profile {
  margin: 5em auto 0 auto;

  figure {
    margin: 0;

    p {
      float: left;
      margin: 0 1em 1em 0;
    }

    figcaption {
      margin-bottom: 0.5em;
    }
  }

  .entry__content {
    p {
      margin: 0;
      font-size: 0.75em;
    }
  }

  nav p {
    font-size: 0.75em;

    a {
      margin-right: 0.5em;
    }
  }
}

#menu {
  margin-bottom: 5em;

  hr {
    margin-bottom: 0.5em;
  }

  p {
    font-size: 0.75em;
  }

  p.kind {
    float: left;
    margin-left: 4.5%;
    width: 45%;
    text-align: left;
    a {
      margin-right: 0.5em;
    }
  }

  p.links {
    float: right;
    margin-right: 4.5%;
    width: 45%;
    text-align: right;
    a {
      margin-left: 0.5em;
    }
  }

  &::after {
    display: block;
    content: "";
    clear: both;
  }
}

.entry {
  header {
    p {
      display: flex;
      flex-direction: row;
      font-size: 0.865em;

      time,
      span {
        display: block;
        width: 50%;
      }

      span {
        text-align: right;
      }
    }
    h1 {
      a {
        @include link-color($base00, $base0A);
        text-decoration: none;
        line-height: 1.414em;
      }
    }
  }
}

.entry__ad {
  margin: 1em 0;
  text-align: center;
}

.entry__content {
  #profile__infomation {
    text-align: center;

    img {
      margin: 0 auto;
      width: 256px;
      height: 256px;
      border: none;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 1em 0;
  }

  h1 {
    font-size: 1.5em;
  }

  h2 {
    font-size: 1.375em;
  }

  h3 {
    font-size: 1.25em;
  }

  h4 {
    font-size: 1.125em;
  }

  h5 {
    font-size: 1em;
  }

  h6 {
    font-weight: normal;
    text-decoration: underline;
  }

  p {
    line-height: 1.727em;
  }

  hr {
    margin: 2em auto;
    width: 91%;
    background-color: $base04;
    border-radius: 3px;
    border: none;
    height: 3px;
  }

  blockquote {
    position: relative;
    margin: 1em;

    & *:first-child {
      margin-top: 0;
    }

    & *:last-child {
      margin-bottom: 0;
    }

    &::before {
      position: absolute;
      left: -0.75em;
      bottom: 0;
      top: 0;
      display: block;
      content: "";
      width: 3px;
      background-color: $base0E;
      border-radius: 6px;
    }
  }

  ul,
  ol {
    padding-left: 1em;
    li {
      margin: 0.125em 0 0.125em 0.5em;
    }
  }

  ul {
    list-style: none;

    li {
      position: relative;
      line-height: 1.414em;
    }

    li::before {
      display: block;
      position: absolute;
      content: "";
      width: 0.5em;
      height: 2px;
      border-radius: 100%;
      background-color: $base0B;
      top: 0.75em;
      left: -0.875em;
    }
  }

  dl {
    dt {
      margin-bottom: 0.25em;
    }
    dd {
      margin-left: 1em;
    }

    dd + dt {
      margin-top: 0.25em;
    }
  }

  pre,
  *:not(pre) > code {
    font-family: "Inconsolata", monospace;
  }

  pre {
    background-color: $K01;
    color: $K06;
    padding: 0.25em 0.5em;
    border-radius: 3px;
    overflow-x: scroll;
  }

  *:not(pre) > code {
    background-color: $base04;
    border-radius: 3px;
    font-size: 0.9em;
    padding: 0.1em 0.25em;
  }

  p.img > a > img {
    border-radius: 3px;
    border: 1px solid $base06;
    height: auto;
    max-width: 100%;
  }

  .content__card--website {
    a {
      display: block;
      overflow: hidden;

      background-color: $base06;
      padding: 0.25em 1em;
      border-radius: 3px;

      transition: border-color 0.125s;
      text-decoration: none;

      &:link,
      &:visited {
        border: 1px solid $base04;
      }

      &:hover,
      &:active {
        border: 1px solid $base0D;
      }

      .content__card--title {
        font-size: 1.2em;
        margin-bottom: 0;
        color: $base00;
      }

      .content__card--title + p {
        margin: 0;
      }

      cite {
        font-style: normal;
        font-weight: bold;
        font-size: 0.8em;
        color: $base0B;
      }

      blockquote {
        margin-top: 0.5em;
        font-size: 0.75em;
        color: $base02;
      }
    }
  }

  .content__card--affiliate {
    margin: 1em 0;
    background-color: $base06;
    padding: 0.25em 1em;
    border-radius: 3px;
    border: 1px solid $base0B;
    overflow: hidden;

    h1 {
      font-size: 1.2em;
      float: left;
      a {
        @include link-color($base00, $base0A);
        text-decoration: underline;
      }
    }

    p {
      margin: 0.8em 0;
      padding: 0;
      float: right;
    }

    ul {
      clear: left;

      li {
        &::before {
          width: 3px;
          height: auto;
          top: 0;
          bottom: 0;
          left: -0.5em;
          border-radius: 3px;
        }

        &.amazon::before {
          background-color: $color-amazon;
        }

        &.rakuten::before {
          background-color: $color-rakuten;
        }

        &.aliexpress::before {
          background-color: $color-aliexpress;
        }

        &.banggood::before {
          background-color: $color-banggood;
        }

        &.gearbest::before {
          background-color: $color-gearbest;
        }
      }

      li a {
        @include link-color($base02, $base0A);
      }
    }

    &::after {
      display: block;
      content: "";
      clear: both;
    }
  }
}

#copyright {
  margin-top: 5em;
  margin-bottom: 5em;

  text-align: center;
  font-size: 0.75em;
}

.entry__home,
.entry__archives,
.entry__related {
  .entry__content {
    .archives {
      li {
        margin-bottom: 1em;
        font-size: 0.75em;

        a:last-child {
          display: block;
          font-size: 1.25em;
          line-height: 1.727em;
        }
      }
    }
  }
}

@media screen and (max-width: 37.5em) {
  #profile {
    figure {
      p {
        text-align: center;
        float: none;
      }
    }

    .entry__content {
      p {
        display: inline;
      }
    }
  }

  #menu {
    hr {
      margin: 2em auto;
    }

    p.kind,
    p.links {
      float: none;
      margin-left: 0;
      margin-right: 0;
      width: 100%;
      text-align: left;

      a {
        margin-left: 0em;
        margin-right: 0.5em;
      }
    }
  }
}

@media screen and (max-width: 20em) {
  body {
    font-size: 1em;
  }
}
