@font-face {
  font-family: "Mamelon";
  src: url("/assets/Mamelon.subset.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inconsolata";
  src: url("/assets/Inconsolata.subset.woff2") format("woff2");
  font-display: swap;
}
