<!--
  {{ $global := index . 0 }}
  {{ $section := index . 1 }}
  {{ $pages := where $global.Site.RegularPages.ByDate.Reverse ".Type" $section }}
  {{ $year := index (split $global.Page.RelPermalink `/`) 2 }}
  {{ if not $year }}
    {{ $year = printf `%d` (index $pages 0).Date.Year }}
  {{ end }}
  {{ $year = int $year }}
-->

<article class="entry entry__archives">
  <header>
    <h1>
      <a href="{{ absURL (printf `/%s/` $section) }}"
        >{{ index $global.Site.Params.titles $section }}</a
      >
    </h1>
  </header>
  <section class="entry__content">
    <p>{{ index $global.Site.Params.descriptions $section | markdownify }}</p>
    <!-- {{ $entries := where $pages ".Date.Year" $year }} -->
    <!-- {{ if eq $section `notes` }} -->
    <!-- {{ $entries = $pages.ByLastmod.Reverse }} -->
    <!-- {{ end }} -->
    <!-- {{ if ne (len $entries) 0 }} -->
    <hr />
    <!-- {{ if ne $section `notes` }} -->
    <p><strong>{{ $year }}年：</strong></p>
    <!-- {{ end }} -->
    <!-- {{ $month := `` }} -->
    <ul class="archives">
      <!-- {{ range $page := $entries }} -->
      <!-- {{ $entry := partialCached `data/entry.fn` (slice $global $page) $page.RelPermalink }} -->
      <li>
        <time datetime="{{ dateFormat `2006-01-02` $entry.date_published }}"
          >{{ dateFormat `2006-01-02` $entry.date_published }}：</time
        >
        <a class="title" href="{{ $entry.url }}">{{ $entry.title }}</a>
      </li>
      <!-- {{ end }} -->
    </ul>

    <hr />

    <!-- {{ if ne $section `notes` }} -->
    <p>
      過去ログ：
      <!-- {{ $begin := (index $pages 0).Date.Year }} -->
      <!-- {{ $end := (index $pages.Reverse 0).Date.Year }} -->

      <!-- {{ range $idx, $yr := seq $begin $end }} -->
      <!-- {{ if ne $idx 0 }} -->
      /
      <!-- {{ end }} -->
      <!-- {{ if eq $yr $year }} -->
      <strong>{{ printf `%d` $yr }}</strong>
      <!-- {{ else }} -->
      <a href="{{ absURL (printf `/%s/%d/` $section $yr) }}"
        >{{ printf `%d` $yr }}</a
      >
      <!-- {{ end }} -->
      <!-- {{ end }} -->
    </p>
    <!-- {{ end }} -->
    <!-- {{ end }} -->
  </section>
</article>
