<!--
  {{ $global := index . 0 }}
-->

<article class="entry entry__home">
  <header>
    <h1>ここは何？</h1>
  </header>

  <section class="entry__content">
    <p>
      カラクリスタは<a href="{{ absURL `/nyarla/` }}">にゃるらコト岡村直樹</a
      >が運営する個人 WebSite です。
    </p>
    <p>過去に色々と書き散らしていましたが、最近は週毎と月毎の振り返り記事しか書けていませんね。ﾅﾝﾃｺｯﾀｲ</p>
    <h1>便利なやつ</h1>
    <p>
      この WebSite では下記の Feed を配信しており、お好みの RSS/Atom Feed Reader
      で更新を購読することが出来ます：
    </p>
    <ul>
      <li>
        <strong>全体：</strong>
        <a href="{{ absURL `/atom.xml` }}">Atom</a>
        <a href="{{ absURL `/index.xml` }}">RSS</a>
      </li>
      <li>
        <strong>ブログ：</strong>
        <a href="{{ absURL `/posts/atom.xml` }}">Atom</a>
        <a href="{{ absURL `/posts/index.xml` }}">RSS</a>
      </li>
      <li>
        <strong>日記：</strong>
        <a href="{{ absURL `/echos/atom.xml` }}">Atom</a>
        <a href="{{ absURL `/echos/index.xml` }}">RSS</a>
      </li>
      <li>
        <strong>メモ帳：</strong>
        <a href="{{ absURL `/notes/atom.xml` }}">Atom</a>
        <a href="{{ absURL `/notes/index.xml` }}">RSS</a>
      </li>
    </ul>
    <h1>最近の更新</h1>
    <p>
      ブログと日記、メモ帳の中身がごった返していますが、最近の更新は下記の通りです：
    </p>
    <ul class="archives">
      <!-- {{ range $page := first 30 (where ($global.Site.RegularPages.ByLastmod.Reverse) `.Type` `!=` `home`)}} -->
      <!-- {{ $entry := partialCached `data/entry.fn` (slice $global $page) $page.RelPermalink }} -->
      <!-- {{ $section := partialCached `data/section.fn` $page $entry.id }} -->
      <li>
        <time datetime="{{ dateFormat `2006-01-02` $entry.date_published }}"
          >{{ dateFormat `2006-01-02` $entry.date_published }}：</time
        >
        （<a href="{{ absURL (printf `/%s/` $section) }}"
          >{{ (index $global.Site.Params.menus $section).name }}</a
        >） <a class="title" href="{{ $entry.url }}">{{ $entry.title }}</a>
      </li>
      <!-- {{ end }} -->
    </ul>
    <h1>連絡先</h1>
    <p>
      以上、何かこの WebSite
      について連絡などがありました、次の連絡先からご連絡下さい。
    </p>
    <p>
      ただしこちらの体調上などや他の理由で必ずしも返信しない場合もありますのでご了承ください：
    </p>
    <ul>
      <li>
        Email: <a href="mailto:nyarla@kalaclista.com">nyarla@kalaclista.com</a>
      </li>
      <li>Twitter: <a href="https://twitter.com/kalaclista">@kalaclsita</a></li>
    </ul>
  </section>
</article>
