<section id="profile">
  <figure>
    <p>
      <a href="{{ absURL `/nyarla/` }}"
        ><img src="{{ absURL `/assets/avatar.svg` }}" height="96" width="96"
      /></a>
    </p>
    <figcaption>
      <a href="{{ absURL `/nyarla/` }}">にゃるら（カラクリスタ）</a>
    </figcaption>
  </figure>
  <section class="entry__content">
    <p>『輝かしい青春』なんて失かった人。病気療養中の家事手伝い。</p>
    <p>今は時々ブログを書いたりプログラミングをして生活しています。</p>
  </section>
  <nav>
    <p>
      <a href="https://github.com/nyarla">GitHub</a>
      <a href="https://zenn.dev/nyarla">Zenn.dev</a>
      <a href="https://twitter.com/kalaclista">Twitter</a>
    </p>
  </nav>
</section>
